<div class="display-field">
    <label>Логин</label>
    <div class="display-value">
        <span class="display-text">{{ data().Login }}</span>
        <copy-button [value]="data().Login" />
    </div>
</div>
<div class="display-field">
    <label>Пароль</label>
    <div class="display-value">
        <span class="display-text">{{ data().Password }}</span>
        <copy-button [value]="data().Password" />
    </div>
</div>
<div class="display-field">
    <label>Почта</label>
    <div class="display-value">
        <span class="display-text">{{ data().Email }}</span>
        <copy-button [value]="data().Email" />
    </div>
</div>
<div class="display-field">
    <label>Номер телефона</label>
    <div class="display-value">
        <span class="display-text">{{ data().Phone }}</span>
        <copy-button [value]="data().Phone" />
    </div>
</div>
<div class="display-field">
    <label>Секретное слово</label>
    <div class="display-value">
        <span class="display-text">{{ data().SecretWord }}</span>
        <copy-button [value]="data().SecretWord" />
    </div>
</div>
<div class="display-field">
    <label>Ключ восстановления</label>
    <div class="display-value">
        <span class="display-text">{{ data().RecoveryKey }}</span>
        <copy-button [value]="data().RecoveryKey" />
    </div>
</div>