<div class="form-body">
    <input 
    [value]="data().Key"
    (input)="data.update(v => ({ ...v, Key: $any($event.target).value }))" 
    placeholder="Ключ" />

    <input 
    [value]="data().BaseUrl"
    (input)="data.update(v => ({...v, BaseUrl: $any($event.target).value}))" 
    placeholder="Сайт" />

    <input 
    [value]="data().ClientId"
    (input)="data.update(v => ({...v, ClientId: $any($event.target).value}))" 
    placeholder="Идентификатор клиента" />

    <input 
    [value]="data().ClientSecret"
    (input)="data.update(v => ({...v, ClientSecret: $any($event.target).value}))" 
    placeholder="Секрет клиента" />

    <input 
    [value]="data().ExpirationDate"
    (input)="data.update(v => ({...v, ExpirationDate: $any($event.target).value}))"
    placeholder="Дата окончания" />

    <input 
    [value]="data().Environment"
    (input)="data.update(v => ({...v, Environment: $any($event.target).value}))" 
    placeholder="Окружение" />

    <input 
    [value]="data().Scope"
    (input)="data.update(v => ({...v, Scope: $any($event.target).value}))"
    placeholder="Область" />
</div>