<div class="display-field">
    <label>Номер</label>
    <div class="display-value">
        <span class="display-text">{{ data().CardNumber }}</span>
        <copy-button [value]="data().CardNumber" />
    </div>
</div>
<div class="display-field">
    <label>Владелец</label>
    <div class="display-value">
        <span class="display-text">{{ data().CardHolder }}</span>
        <copy-button [value]="data().CardHolder" />
    </div>
</div>
<div class="display-field">
    <label>Дата окончания</label>
    <div class="display-value">
        <span class="display-text">{{ data().ExpireDate }}</span>
        <copy-button [value]="data().ExpireDate" />
    </div>
</div>
<div class="display-field">
    <label>CVV</label>
    <div class="display-value">
        <span class="display-text">{{ data().CvvCode }}</span>
        <copy-button [value]="data().CvvCode" />
    </div>
</div>
<div class="display-field">
    <label>PIN</label>
    <div class="display-value">
        <span class="display-text">{{ data().PinCode }}</span>
        <copy-button [value]="data().PinCode" />
    </div>
</div>
<div class="display-field">
    <label>Банк</label>
    <div class="display-value">
        <span class="display-text">{{ data().BankName }}</span>
        <copy-button [value]="data().BankName" />
    </div>
</div>
<div class="display-field">
    <label>Платежная система</label>
    <div class="display-value">
        <span class="display-text">{{ data().PaymentSystem }}</span>
        <copy-button [value]="data().PaymentSystem" />
    </div>
</div>