@use '../../../../variables' as *;
@use '../../../../styles/button' as *;
@use '../../../../styles/scrollbar' as *;
@use '../../../../styles/modal' as *;

.form-group {
    margin-bottom: 1.25rem;

    &:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .form-group {
        .display-field {
            margin: 4px 0;
        }
    }
}