<div class="form-body">
    <input 
    [value]="data().PublicKey"
    (input)="data.update(v => ({ ...v, PublicKey: $any($event.target).value }))" 
    placeholder="Публичный ключ" />

    <input 
    [value]="data().PrivateKey"
    (input)="data.update(v => ({...v, PrivateKey: $any($event.target).value}))" 
    placeholder="Приватный ключ" />

    <input 
    [value]="data().Application"
    (input)="data.update(v => ({...v, Application: $any($event.target).value}))" 
    placeholder="Связанный ресурс" />

    <input 
    [value]="data().Algorithm"
    (input)="data.update(v => ({...v, Algorithm: $any($event.target).value}))" 
    placeholder="Алгоритм" />

    <input 
    [value]="data().KeySize"
    (input)="data.update(v => ({...v, KeySize: $any($event.target).value}))"
    placeholder="Размер ключа" />

    <input 
    [value]="data().Passphrase"
    (input)="data.update(v => ({...v, Passphrase: $any($event.target).value}))" 
    placeholder="Парольная фраза" />

    <input 
    [value]="data().Format"
    (input)="data.update(v => ({...v, Format: $any($event.target).value}))"
    placeholder="Формат (прим. OpenSSH, PKCS#8, PPK)" />

    <input 
    [value]="data().Fingerprint"
    (input)="data.update(v => ({...v, Fingerprint: $any($event.target).value}))"
    placeholder="Хеш значение" />

    <input 
    [value]="data().DateCreation"
    (input)="data.update(v => ({...v, DateCreation: $any($event.target).value}))"
    placeholder="Дата создания" />

    <input 
    [value]="data().DateExpire"
    (input)="data.update(v => ({...v, DateExpire: $any($event.target).value}))"
    placeholder="Дата окончания" />
</div>