<div class="form-body">
    <input 
    [value]="data().CardNumber"
    (input)="data.update(v => ({ ...v, CardNumber: $any($event.target).value }))" 
    placeholder="Номер" />

    <input 
    [value]="data().CardHolder"
    (input)="data.update(v => ({...v, CardHolder: $any($event.target).value}))" 
    placeholder="Владелец" />
    
    <input 
    [value]="data().ExpireDate"
    (input)="data.update(v => ({...v, ExpireDate: $any($event.target).value}))" 
    placeholder="Дата окончания" />
    
    <input 
    [value]="data().CvvCode"
    (input)="data.update(v => ({...v, CvvCode: $any($event.target).value}))" 
    placeholder="Cvv" />
    
    <input 
    [value]="data().PinCode"
    (input)="data.update(v => ({...v, PinCode: $any($event.target).value}))" 
    placeholder="PIN код" />
    
    <input 
    [value]="data().BankName"
    (input)="data.update(v => ({...v, BankName: $any($event.target).value}))" 
    placeholder="Банк" />
    
    <input 
    [value]="data().PaymentSystem"
    (input)="data.update(v => ({...v, PaymentSystem: $any($event.target).value}))" 
    placeholder="Платежная система" />
</div>