// #region Фон

$color-logo: white;
$color-bg: linear-gradient(135deg, #01081B 0%, #00060C 100%);
$color-bg-secondary: #04060B;

// #endregion

// #region Карточки

$bg-card-primary: #111524;
$card-bg-border: #1E212A;

// #endregion

// #region Кнопки

$button-bg: #13161E;
$button-bg-hover: #2D3039;
$button-db-active: #5983e4;

// #endregion

// #region Текст

$text-primary: #f1f5f9;
$text-secondary: #9999aa;
$color-text-error: #dd7171;
$font-size-text-error: 0.875rem;

// #endregion

// #region Гиперссылка

$color-a-primary: #1598e4;
$color-a-hover: #0c5b88;

// #endregion