 <div class="display-field">
     <label>Публичный ключ</label>
     <div class="display-value">
         <span class="display-text">{{ data().PublicKey }}</span>
         <copy-button [value]="data().PublicKey" />
     </div>
 </div>
 <div class="display-field">
     <label>Приватный ключ</label>
     <div class="display-value">
         <span class="display-text">{{ data().PrivateKey }}</span>
         <copy-button [value]="data().PrivateKey" />
     </div>
 </div>
 <div class="display-field">
     <label>Используемое приложение</label>
     <div class="display-value">
         <span class="display-text">{{ data().Application }}</span>
         <copy-button [value]="data().Application" />
     </div>
 </div>
 <div class="display-field">
     <label>Алгоритм</label>
     <div class="display-value">
         <span class="display-text">{{ data().Algorithm }}</span>
         <copy-button [value]="data().Algorithm" />
     </div>
 </div>
 <div class="display-field">
     <label>Размер ключа</label>
     <div class="display-value">
         <span class="display-text">{{ data().KeySize }}</span>
         <copy-button [value]="data().KeySize" />
     </div>
 </div>
 <div class="display-field">
     <label>Парольная фраза</label>
     <div class="display-value">
         <span class="display-text">{{ data().Passphrase }}</span>
         <copy-button [value]="data().Passphrase" />
     </div>
 </div>
 <div class="display-field">
     <label>Формат (прим. OpenSSH, PKCS#8, PPK)</label>
     <div class="display-value">
         <span class="display-text">{{ data().Format }}</span>
         <copy-button [value]="data().Format" />
     </div>
 </div>
 <div class="display-field">
     <label>Хеш значение</label>
     <div class="display-value">
         <span class="display-text">{{ data().Fingerprint }}</span>
         <copy-button [value]="data().Fingerprint" />
     </div>
 </div>
 <div class="display-field">
     <label>Дата создания</label>
     <div class="display-value">
         <span class="display-text">{{ data().DateCreation }}</span>
         <copy-button [value]="data().DateCreation" />
     </div>
 </div>
 <div class="display-field">
     <label>Дата окончания</label>
     <div class="display-value">
         <span class="display-text">{{ data().DateExpire }}</span>
         <copy-button [value]="data().DateExpire" />
     </div>
 </div>