<div class="form-body">
    <input 
    [value]="data().Login"
    (input)="data.update(v => ({ ...v, Login: $any($event.target).value }))" 
    placeholder="Логин" />

    <input 
    [value]="data().Password"
    (input)="data.update(v => ({...v, Password: $any($event.target).value}))" 
    placeholder="Пароль" />
    
    <input 
    [value]="data().Email"
    (input)="data.update(v => ({...v, Email: $any($event.target).value}))" 
    placeholder="Электронная почта" />
    
    <input 
    [value]="data().Phone"
    (input)="data.update(v => ({...v, Phone: $any($event.target).value}))" 
    placeholder="Номер телефона" />
    
    <input 
    [value]="data().SecretWord"
    (input)="data.update(v => ({...v, SecretWord: $any($event.target).value}))" 
    placeholder="Секретное слово" />
    
    <input 
    [value]="data().RecoveryKey"
    (input)="data.update(v => ({...v, RecoveryKey: $any($event.target).value}))" 
    placeholder="Ключ восстановления" />
</div>