<div class="display-field">
    <label>Ключ</label>
    <div class="display-value">
        <span class="display-text">{{ data().Key }}</span>
        <copy-button [value]="data().Key" />
    </div>
</div>
<div class="display-field">
    <label>Сайт</label>
    <div class="display-value">
        <span class="display-text">{{ data().BaseUrl }}</span>
        <copy-button [value]="data().BaseUrl" />
    </div>
</div>
<div class="display-field">
    <label>Идентификатор клиента</label>
    <div class="display-value">
        <span class="display-text">{{ data().ClientId }}</span>
        <copy-button [value]="data().ClientId" />
    </div>
</div>
<div class="display-field">
    <label>Секрет клиента</label>
    <div class="display-value">
        <span class="display-text">{{ data().ClientSecret }}</span>
        <copy-button [value]="data().ClientSecret" />
    </div>
</div>
<div class="display-field">
    <label>Дата окончания</label>
    <div class="display-value">
        <span class="display-text">{{ data().ExpirationDate }}</span>
        <copy-button [value]="data().ExpirationDate" />
    </div>
</div>
<div class="display-field">
    <label>Окружение</label>
    <div class="display-value">
        <span class="display-text">{{ data().Environment }}</span>
        <copy-button [value]="data().Environment" />
    </div>
</div>
<div class="display-field">
    <label>Область</label>
    <div class="display-value">
        <span class="display-text">{{ data().Scope }}</span>
        <copy-button [value]="data().Scope" />
    </div>
</div>